<div class="container-box">
    <div class="row">
        <div class="col-md-2 cust-wid">
            <!-- start:: Sidebar -->
            <nav class="sidebar">
                <div class="sidebar-sticky">
                    <div class="menu-box d-flex flex-column flex-shrink-0 justify-content-between align-items-center">
                        <!-- start:: Logo -->
                        <a class="logo d-block text-decoration-none mt-3">
                            <img src="assets/images/logo-icon.svg" alt="">
                        </a>
                        <!-- end:: Logo -->
                        <!-- start:: Side menu items -->
                        <ul class="nav nav-pills flex-column text-center w-100">
                            <li class="nav-item">
                                <a class="nav-link active">
                                    <span><i class="fa-solid fa-house"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span><i class="fa-solid fa-chart-area"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span><i class="fa-solid fa-calendar-check"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span><i class="fa-solid fa-envelope-open-text"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span><i class="fa-solid fa-user-group"></i></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <span><i class="fa-solid fa-gear"></i></span>
                                </a>
                            </li>

                        </ul>
                        <!-- end:: Side menu items -->
                        <!-- start:: Logout button -->
                        <div class="logout mb-4">
                            <a class="d-flex align-items-center justify-content-center  ">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </div>
                        <!-- end:: Logout button -->
                    </div>
                </div>
            </nav>
            <!-- end:: Sidebar -->
        </div>
        <div class="col-md-10 cust-wid">
            <!-- start:: Main -->
            <main class="content">
                <div class="row">
                    <div class="col-sm-12 col-md-8 left">
                        <div class=" p-4">
                            <!-- start:: Home header -->
                            <div class="page-header d-flex justify-content-between align-items-center">
                                <h1 class="">Dashboard</h1>
                                <button class="btn">Customise Blocks</button>
                            </div>
                            <p class="ws-note  text-muted mb-0">
                                Welcome Back!
                            </p>
                            <!-- end:: Home header -->

                            <!-- start:: Quick Stats cards -->
                            <div class="status-cards">
                                <div class="title">Quick Stats</div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3  mb-4">
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <h6 class="mb-2">Total Bookings</h6>
                                                <h1 class="mb-0 text-dark">28,345</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3  mb-4">
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <h6 class="mb-2">Pending Approval</h6>
                                                <h1 class="mb-0 text-danger">120</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3  mb-4">
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <h6 class="mb-2">New Clients this month</h6>
                                                <h1 class="mb-0">89
                                                    <span class="icon text-success">
                                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                                    </span>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3  mb-4">
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <h6 class="mb-2">Returning Clients</h6>
                                                <h1 class="mb-0">46%
                                                    <span class="icon text-danger">
                                                        <i class="fa-solid fa-arrow-trend-down"></i>
                                                    </span>
                                                </h1>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end:: Quick Stats cards -->

                            <!-- start:: Tab section -->
                            <div class="tab-section">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- start:: Tab header -->
                                        <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                            <!-- start:: Bookings -->
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active px-0" id="pills-booking-tab"
                                                    data-bs-toggle="pill" data-bs-target="#pills-booking" type="button"
                                                    role="tab" aria-controls="pills-booking"
                                                    aria-selected="true">Bookings</button>
                                            </li>
                                            <!-- end:: Bookings -->
                                            <!-- start:: Enquiries -->
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link px-0" id="pills-enquiries-tab"
                                                    data-bs-toggle="pill" data-bs-target="#pills-enquiries"
                                                    type="button" role="tab" aria-controls="pills-enquiries"
                                                    aria-selected="false">Enquiries</button>
                                            </li>
                                            <!-- end:: Enquiries -->
                                            <!-- start:: Services -->
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link px-0" id="pills-services-tab"
                                                    data-bs-toggle="pill" data-bs-target="#pills-services" type="button"
                                                    role="tab" aria-controls="pills-services" aria-selected="false">My
                                                    Services</button>
                                            </li>
                                            <!-- end:: Services -->
                                        </ul>
                                        <!-- end:: Tab header -->

                                        <!-- start:: Tab content -->
                                        <div class="tab-content" id="pills-tabContent">
                                            <!-- start:: Booking content -->
                                            <div class="tab-pane fade show active" id="pills-booking" role="tabpanel"
                                                aria-labelledby="pills-booking-tab">
                                                <div class="row booking-container">
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  mb-4 ">
                                                        <div class="card border-0">
                                                            <div class="card-body p-3">
                                                                <h6 class="name mb-2">Amanda Chavez</h6>
                                                                <h6 class="title-sm mb-1">
                                                                    Service
                                                                </h6>
                                                                <h6 class="title mb-3">
                                                                    Physiotherapy
                                                                </h6>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Date
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            25 Jul 2020
                                                                        </h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <h6 class="title-sm mb-1">
                                                                            Time
                                                                        </h6>
                                                                        <h6 class="title mb-1">
                                                                            11:00 - 12:00
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="action">
                                                                    <a class="btn">Accept Booking</a>
                                                                    <a class="btn">Decline</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end:: Booking content -->

                                            <!-- start::  Enquiries content-->
                                            <div class="tab-pane fade" id="pills-enquiries" role="tabpanel"
                                                aria-labelledby="pills-enquiries-tab">Lorem ipsum dolor sit.</div>
                                            <!-- end::  Enquiries content-->

                                            <!-- start::  Services content-->
                                            <div class="tab-pane fade" id="pills-services" role="tabpanel"
                                                aria-labelledby="pills-services-tab">Lorem ipsum dolor sit.</div>
                                            <!-- end::  Services content-->
                                        </div>
                                        <!-- end:: Tab content -->
                                    </div>
                                </div>
                            </div>
                            <!-- end:: Tab section -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 right bg-white">
                        <!-- start:: Profile section -->
                        <div class="content p-3">
                            <!-- start:: Search box -->
                            <div class="header-section">
                                <div class="search-bar">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-search">
                                                    <span class="d-flex align-items-center justify-content-center">
                                                        <img src="assets/images/Search.svg" alt="">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Search Keyword"
                                                    aria-label="search" aria-describedby="basic-search">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 ">
                                            <div
                                                class="bell-icon position-relative d-flex align-items-center justify-content-center">
                                                <span>
                                                    <span class="active-notif"></span>
                                                    <img src="assets/images/Notifications.svg" alt="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- end:: Search box -->
                            <!-- start:: Profile info -->
                            <div class="profile d-flex align-items-center justify-content-between">
                                <div class="profile-info">
                                    <h2>Hello,</h2>
                                    <h1>Jonathan!</h1>
                                    <p>Copy your bio link and paste it in your profile to let people find you.</p>
                                </div>
                                <div class="profile-img ms-3">
                                    <img src="assets/images/user.svg" alt="">
                                </div>
                            </div>
                            <!-- end:: Profile info -->

                            <!-- start:: Copy info -->
                            <div class="copy-profile-link mt-4">
                                <div class="row">
                                    <div class="col-sm-8 pe-1">

                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="scheddo.com/jonathan"
                                                aria-label="scheddo.com/jonathan" aria-describedby="basic-addon2">
                                            <span class="input-group-text" id="basic-addon2">
                                                <span>

                                                    <img src="assets/images/copy.svg" alt="">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 ">
                                        <button class="btn">Edit Link</button>
                                    </div>
                                </div>


                            </div>
                            <!-- end:: Copy info -->

                            <!-- start:: Upgrade card -->
                            <div class="upgrade-card">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h1 class="mb-2">Upgrade <br> to PRO</h1>
                                                <p class="mb-0">For more Profile Control</p>
                                            </div>
                                            <div class="col-sm-4 my-auto text-center">
                                                <div
                                                    class="img-container d-flex align-items-center justify-content-center">
                                                    <span class="text-white">
                                                        <i class="fa-solid fa-2x fa-crown"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end:: Upgrade card -->

                            <!-- start:: Reminders -->
                            <div class="reminder">
                                <div class="header d-flex align-items-center justify-content-between">
                                    <h1>Reminders</h1>
                                    <span>
                                        View All
                                        <img class="ms-2" src="assets/images/arrow-right.svg" alt="">
                                    </span>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-2 text-center my-auto">
                                            <img src="assets/images/exclamation.svg" alt="">
                                        </div>
                                        <div class="col-sm-10 my-auto content">
                                            <h6 class="mb-2">Booking Reminder</h6>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-2 text-center my-auto">
                                            <img src="assets/images/exclamation.svg" alt="">
                                        </div>
                                        <div class="col-sm-10 my-auto content">
                                            <h6 class="mb-2">New Message</h6>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-2 text-center my-auto">
                                            <img src="assets/images/exclamation.svg" alt="">
                                        </div>
                                        <div class="col-sm-10 my-auto content">
                                            <h6 class="mb-2">Upcoming Booking</h6>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consetetur</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- start:: Reminders -->
                        </div>
                        <!-- end:: Profile section -->
                    </div>
                </div>
            </main>
            <!-- end:: Main -->
        </div>
    </div>
</div>